<footer class="footer">
    <div class="footer_up_arrow">
        <a href="#">
            <img class="scroll-up" src="./assets/images/ico-arrow.svg" alt="Scroll Up">
        </a>
    </div>
    <div class="container_nav">
        <nav class="nav1">
            <ul class="nav_footer">
                <li>
                    <a class="footer_link" href="https://adalab.es/" target="_blank" title="Articles">articles</a>
                </li>
                <li>
                    <a class="footer_link" href="https://adalab.es/" target="_blank" title="Books">books</a>
                </li>
                <li>
                    <a class="footer_link" href="https://adalab.es/" target="_blank" title="Events">events</a>
                </li>
                <li>
                    <a class="footer_link" href="https://adalab.es/" target="_blank" title="Reasons">reasons</a>
                </li>
                <li>
                    <a class="footer_link" href="https://adalab.es/" target="_blank" title="Tips">tips</a>
                </li>
            </ul>
        </nav>
        <nav class="nav2">
            <ul class="nav-footer">
                <li>
                    <a class="footer_link" href="https://adalab.es/" target="_blank" title="Articles">twitter</a>
                </li>
                <li>
                    <a class="footer_link" href="https://adalab.es/" target="_blank" title="Articles">instagram</a>
                </li>
                <li>
                    <a class="footer_link" href="https://adalab.es/" target="_blank"
                        title="Articles">mastodon.social</a>
                </li>
            </ul>
        </nav>
        <div class="last_container">
            <small class="footer_small">
                &copy; 2021
                <div>
                    <span>we <i class="heart fas fa-heart"></i>components</span>
                </div>
            </small>
        </div>
    </div>
</footer>