<main class="main">
    <section class="main_section1">
        <article>
            <span class="">insomnia tips</span>
            <h2> Looking through a window</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloribus veritatis eum numquam alias,
                ipsam velit placeat error. Excepturi iure ducimus ab nostrum laudantium saepe?</p>
            <button>go</button>
        </article>
    </section>
    <section class="main_section2">
        <h2>3 reasons to purchase</h2>
        <article>
            <h3>ut sed metus</h3>
            <p>
                lorem, ipsum dolor sit amet consectetur.
            </p>
        </article>
        <article>
            <h3>curabitur ac erat</h3>
            <p>
                repellendus illo voluptate, quos rerum consectetur.
            </p>
        </article>
        <article>
            <h3>morbi dictum</h3>
            <p>
                ullam facere quod maiores iste saepe.
            </p>
        </article>
        <button>More reasons</button>
    </section>
</main>