<main class="main">
    <section class="main_section1">
        <article class="main_looking">
            <p class="insomnia">insomnia tips</p>
            <h2 class="h2_looking"> Looking through a window</h2>
            <p class="p_seccion1">Donec accumsan, nulla ut volutpat portitir,quam odio tempus felis, at luctus ex diam
                nec
                lectus.Vivamus semper sodales rutrum.
            </p>
            <button class="button_go">go</button>
        </article>
    </section>

    <section class="main_section2" id="reasons">
        <h2 class="h2 reasons_title">3 reasons to purchase</h2>
        <article class="reason_item">
            <h3 class="h3">Ut sed metus</h3>
            <p class="p">
                lorem, ipsum dolor sit amet consectetur.
            </p>
        </article>
        <article class="reason_item">
            <h3 class="h3">curabitur ac erat</h3>
            <p class="p">
                Mauris mattis urba quis lorem molestie.
            </p>
        </article>
        <article class="reason_item">
            <h3 class="h3">morbi dictum</h3>
            <p class="p">
                Aliquam in dolor et dolor tincidunt.
            </p>
        </article>
        <button class="reason_button">More reasons</button>

    </section>
</main>