// fonts
$font-text: 'Roboto', sans-serif;
$font-title: "Roboto Slab", serif;

// colors
$color-bg: #f3f4f5;
$color-secondary: #999;
$back-menu:#0271bc;
$text-shadow:0 2px 3px rgba(0,0,0,0.2);
$color-text:white;
$back-arrow:white;



// // colors
// $color-bg-looking: #ffffff;
// $color-bg-reasons: #eff9ff;
// $color-bg-footer: #304268;
// $color-bg-icon-radius: #ffffff;
// $font-color-hero: #ffffff;
// $font-color-main: #000000;
// $font-color-footer: #ffffff;
