.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#304268;
    color: white;
    font-family: 'Roboto-Regular';
    @media all and (min-width: 1200px) {
      padding-left: 370px;
      padding-right: 370px;
    }
}
.footer_up_arrow{
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 22.5px;
    background-color: white;
    position: relative;
    transform: translateY(-50%);
    animation-duration: 4s;
    animation-name: happyArrow;
  }
  @keyframes happyArrow{
    from {
      margin-right: 100%;
      width: 25%;
      background-color: salmon;
    }
  
    to {
      margin-right: 0%;
      width: 25%;
      background-color: #fff;
    }
  }
  .footer_up_arrow a{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50% ,-50%);
  }
  .container_nav{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 45px;
    @media all and (min-width: 768px) {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 45px;
      }
    
      @media all and (min-width: 1280px) {
        width: 50vw;
        justify-content: space-around;

      }
  }
  .footer_link{
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Roboto';
      line-height: 1.88;
  }
  .nav1{
    margin-bottom: 30px;
    
      
    @media all and (min-width: 768px) {
        order: 2;
      }
  }
  .nav2{
    @media all and (min-width: 768px) {
        order: 3;
    }
  }
  .nav_footer li{
      text-align: center;
      @media all and (min-width: 768px) {
        text-align: left;
    }
  }
  .nav_footer{
      list-style: none;
    
  }
  .last_container{
      padding-top: 30px;
      font-size: 14px;
      display: block;
      text-align: center;
      margin-bottom: 45px;
      color: white;

      @media all and (min-width: 768px) {
        order: 1;
        padding-top: 0px;
        text-align: left;
      }
  }
  .footer_small{
      line-height: 30px;
      @media all and (min-width: 768px) {
          
      font-size: 14px;
      }

  }
  .heart {
    font-size: 14px;
    color: #f26002;
    line-height: 2.14;
    padding: 0 3px;
  }
  
 