.main{
    font-family:$font-title;
}
.main_section1{
    background-color:$bg-section;
}
.main_looking{
    padding-left:15px ;
    
    @media all and (min-width:768px) {
        padding-left:39px ;
    }

    @media all and (min-width:1280px) {
        margin-left: 275px;
        max-width: 730px;
    }
}

.insomnia{
    margin-top: 30px;
    font-size: 14px;
    color: $insopnia-color;
    line-height: 30px;
    text-transform: capitalize;

    @media all and (min-width:768px) {
        margin-left: 39px;
    }

    @media all and (min-width:1280px) {
        margin-top: 60px;
        margin-left: 0px;
    }
}
.h2_looking{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-family:$font-title;

    @media all and (min-width:768px) {
        margin-left: 39px;
        margin-bottom: 30px;
        line-height:45px;
        font-size: 26px;
    }

    @media all and (min-width:1280px) {
        margin-top: 60px;
        margin-left: 0px;
        font-size: 32px;
        line-height: 45px;
    }

}

.p_seccion1{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.67;
    color: $color-sect1;
    
    @media all and (min-width:768px) {
        margin-left: 39px;
        font-size: 20px;
    }
    @media all and (min-width:1280px) {
        margin-top: 60px;
        margin-left: 0px;
        font-size: 20px;
        line-height: 1.5;
    }
}
.button_go{
    width: 76px;
    height: 45px;
    margin-bottom: 45px;
    font-size: 20px;
    font-weight: bold;
    color:$color-button;
    text-transform: capitalize;
    text-align: center;
    border-radius: 22.5px;
    border: solid 3px $color-button;
    background-color: $bg-section;
      
    @media all and (min-width:768px) {
        width: 91px;
        margin-left: 39px;

    }
    @media all and (min-width:1280px) {
        width: 160px;
        margin-left: 0px;
        margin-bottom: 60px;
    }
}

// SECCION GRID//

.main_section2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:105px repeat(4,1fr);
    height: 624px;
    text-align: center;
    background-color: $bg-sect2;

    @media all and (min-width:768px) {
        height: auto;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 120px 120px 1fr;
    }

    @media all and (min-width:1280px) {
        grid-template-rows: 150px 120px 1fr;
    }
    
}
.reasons_title{
   padding-top: 30px;
   text-transform: capitalize;
   font-weight: bold;
   font-size: 24px;

   @media all and (min-width:768px) {
    grid-column: 1/4;
    font-size: 26px;
   }
   @media all and (min-width:1280px) {
    padding-top: 60px;
    font-size: 32px;
   }

}
.h3{
    font-size: 20px;
    line-height: 1.67;
    font-weight: 900;

    @media all and (min-width:768px) {
        font-size: 24px;
       }

    @media all and (min-width:1280px) {
       }
}
.h3::first-letter{
    text-transform: uppercase;
}
.p{
    font-size: 18px;
    font-weight: lighter;
    line-height: 30px;
    font-weight:lighter;

    @media all and (min-width:768px) {
        font-size: 20px;
       }
}
p::first-letter {
    text-transform: uppercase;
}
.reason_item{
    margin:0 auto;
    max-width: 180px;

    @media all and (min-width:768px) {
        max-width: 212px;
    }

    @media all and (min-width:1280px) {
        max-width: 350px;
    }
}
.reason_button{
    background-color: $color-button;
    margin: 0 auto;
    width: 184px;
    height: 45px;
    padding: 0 29.5px 0 30.5px;
    border: none;
    border-radius: 22.5px;
    font-size: 20px;
    color: $color-text;
    font-weight: 500;

    @media all and (min-width:768px) {
        grid-column: 1/4;
        margin-top: 60px;
        margin-bottom: 60px;
        width: 210px;
    }

    @media all and (min-width:1280px) {
        width: 210px;
    }
}